.jumbotron {
    padding-top: #3e6ca0;
    background-color: #73c6fd;
  }
  
  #projects {
    background-color: #3e6ca0;
  }
  
  section {
    padding-top: #73c6fd;
  }

  #about{
    background-color: #3e6ca0;;;
  }